#footer {
    padding:20px 70px;
    text-align: center;
    background-color: #4d4f53;    /* Light blue */
    color:#bbb;
}

#footer-links li{
  display: block;
  padding:10px 20px 10px 0;
}
#footer-links {
    padding-bottom: 10px;
}
#footer-links ul {
    list-style-type: none;
}
#footer-links a {
    text-decoration: none;
    color:#bbb;
}

@media screen and (min-width: 800px) {
    #footer-links li{
        display:inline;
    }
}