#nav {
    padding:10px 70px;
    /*display:block;*/
    overflow:auto;
}

#logo {
    float:left;
}

#nav-links {
    float:right;
}

#logo img {
    height:70px;
}

#nav-links ul {
    list-style-type: none;
    margin-top: 30px;
}

#nav-links li{
    display:inline;
}

#nav-links a {
    text-decoration: none;
    margin-right:50px;
    color: #717a81;
}
#nav-links a:hover {
    text-decoration: none;
    margin-right:50px;
    color: #000;
}

#nav:after {
    clear:both;
}