body {
    padding-left:20px;
    padding-right: 20px;
}

.aside {
  /*text-align: center;*/
  padding: 1rem 1rem;
  color: rgba(255,255,255,.5);
  background-color: #202020;
}

.main {
  padding:2rem 1rem;
}