<!DOCTYPE html>
<html>
<head>
    <title>CSS Cards Practice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../../normalize.css">
    <link rel="stylesheet" type="text/css" href="cards.css">
</head>
<body>
    <div class="card">
        <img src="img/user.png">
        <div class="card-details">
            <h3>
                Name of the person
            </h3>
            <p>
                Description of the person's work.
            </p>
        </div>
    </div>
</body>
</html>